body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  #content {
    margin-top: 50px;
  }
  
  a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #qrcode {
    margin: 20px auto;
  }
  